


body{background-color: aliceblue;}
h1{color: #8B0000; background-color: rgba(0, 0, 0, 0.2);} 
h2{color: rgb(178, 34, 34);}



@font-face{
    font-family: "nasalization-rg";
    src: url("assetsD03/nasalization-rg");}

