.contact {
    text-align: bottom-right;}

img {margin-left: 250px;}

    span {margin-right: 100px;}

    body{ margin-left: 20px}

    footer {
margin-left: 100px;
    }

    h2{
        color: purple;
    }